body {
    font-family: 'Roboto', sans-serif;
    background-color: #cbaf87;
}

.topsection {
    background-color: #7e8a97;
    width: 100%;
}

.lightbrown {
    background-color: #e7dec8;
    color: #30475e;
}

.teal {
    color: teal;
}

a.visited:visited {
    color: silver
}

a.link:link {
    color: rgb(31, 183, 221)
}

.floater {
    float: left;
    margin-right: 10px;
}

.nofloat {
    clear: left;
}

.center {
    text-align: center;
}

.nobullets {
    list-style: none;
}